In [1]:
from bs4 import BeautifulSoup
from selenium import webdriver
import os
path_folder='C:/Users/Administrator/Downloads/'
os.chdir(path_folder)

In [2]:
driver=webdriver.Firefox()
url1='https://en.wikipedia.org/wiki/List_of_Category_5_Atlantic_hurricanes'
driver.get(url1)
html1=driver.page_source
soup1=BeautifulSoup(html1,'html.parser')
x=soup1.find_all('table',class_='wikitable')

In [6]:
import pandas as pd

In [4]:
name=[]
dates=[]
duration=[]
windspeed=[]
pressure=[]
areas=[]
deaths=[]
damage=[]
for i in x[0].find_all('tr')[1:]:
    data=i.find_all('td')
    name.append(data[0].text.strip())
    dates.append(data[1].text.strip())
    duration.append(data[2].text.strip())
    windspeed.append(data[3].text.strip())
    pressure.append(data[4].text.strip())
    areas.append(data[5].text.strip())
    deaths.append(data[6].text.strip())
    damage.append(data[7].text.strip())

IndexError: list index out of range

In [38]:
y=pd.DataFrame({'name':name,'dates':dates,'duration':duration,'windspeed':windspeed,'pressure':pressure,'areas':areas,'deaths':deaths,'damage':damage})
y.head()

,name,dates,duration,windspeed,pressure,areas,deaths,damage
0,"""Cuba""","October 19, 1924",12,165 mph (270 km/h),910 hPa (26.87 inHg),"Central America, Mexico, CubaFlorida, The Bahamas",90,
1,"""San Felipe IIOkeechobee""","September 13–14, 1928",12,160 mph (260 km/h),929 hPa (27.43 inHg),"Lesser Antilles, The BahamasUnited States East...","4,000",$100 million
2,"""Bahamas""","September 5–6, 1932",24,160 mph (260 km/h),921 hPa (27.20 inHg),"The Bahamas, Northeastern United States",16,
3,"""Camaguey""","November 5–8, 1932",78,175 mph (280 km/h),915 hPa (27.02 inHg),"Lesser Antilles, Jamaica, Cayman IslandsCuba, ...","3,103",$40 million
4,"""Cuba–Brownsville""","August 30, 1933",12,160 mph (260 km/h),930 hPa (27.46 inHg),"The Bahamas, Cuba, FloridaTexas, Tamaulipas",179,$27.9 million

In [115]:
y['windspeed'].str.extract(r'(\(\d{1,3})')[0].str.extract(r'(\d{1,3})').astype('int').mean()

0    274.444444
dtype: float64

In [149]:
y['deaths'].str.replace(',|>','').astype('float').mean()

1081.5555555555557

In [155]:
z=y['damage'].str.extract(r'(\d{1,4}.\d{1,2})')
z.fillna(0).astype('float').sum()

0    2636.12
dtype: float64

In [161]:
z.astype('float').mean()

0    97.634074
dtype: float64

In [160]:
z.isna()[0].value_counts()

False    27
True      9
Name: 0, dtype: int64

In [69]:
y['windmph']=y['windspeed'].str.extract(r'(\d{1,3})')
y['windmph'].astype('int').mean()

170.41666666666666

In [124]:
y

,name,dates,duration,windspeed,pressure,areas,deaths,damage,month,year,windmph
0,"""Cuba""","October 19, 1924",12,165 mph (270 km/h),910 hPa (26.87 inHg),"Central America, Mexico, CubaFlorida, The Bahamas",90,,October 19,1924,165
1,"""San Felipe IIOkeechobee""","September 13–14, 1928",12,160 mph (260 km/h),929 hPa (27.43 inHg),"Lesser Antilles, The BahamasUnited States East...","4,000",$100 million,September 13,1928,160
2,"""Bahamas""","September 5–6, 1932",24,160 mph (260 km/h),921 hPa (27.20 inHg),"The Bahamas, Northeastern United States",16,,September 5,1932,160
3,"""Camaguey""","November 5–8, 1932",78,175 mph (280 km/h),915 hPa (27.02 inHg),"Lesser Antilles, Jamaica, Cayman IslandsCuba, ...","3,103",$40 million,November 5,1932,175
4,"""Cuba–Brownsville""","August 30, 1933",12,160 mph (260 km/h),930 hPa (27.46 inHg),"The Bahamas, Cuba, FloridaTexas, Tamaulipas",179,$27.9 million,August 30,1933,160
5,"""Tampico""","September 21, 1933",12,160 mph (260 km/h),929 hPa (27.43 inHg),"Jamaica, Yucatán Peninsula",184,$5 million,September 21,1933,160
6,"""Labor Day""","September 3, 1935",18,185 mph (295 km/h),892 hPa (26.34 inHg),"The Bahamas, Florida, Georgia, The Carolinas, ...",408,,September 3,1935,185
7,"""New England""","September 19–20, 1938",18,160 mph (260 km/h),940 hPa (27.76 inHg),"Southeastern United States, Northeastern Unite...",682,$306 million,September 19,1938,160
8,Carol,"September 3, 1953",12,160 mph (260 km/h),929 hPa (27.43 inHg),"Bermuda, New England, Atlantic Canada",5,$2 million,September 3,1953,160
9,Janet,"September 27–28, 1955",18,175 mph (280 km/h),914 hPa (26.99 inHg),"Lesser Antilles, Central America","1,023",$65.8 million,September 27,1955,175
10,Carla,"September 11, 1961",18,175 mph (280 km/h),931 hPa (27.49 inHg),"Texas, Louisiana, Midwestern United States",43,$326 million,September 11,1961,175
11,Hattie,"October 30–31, 1961",18,160 mph (260 km/h),920 hPa (27.17 inHg),Central America,319,$60.3 million,October 30,1961,160
12,Beulah,"September 20, 1967",18,160 mph (260 km/h),923 hPa (27.26 inHg),"The Caribbean, Mexico, Texas",59,$208 million,September 20,1967,160
13,Camille,"August 16–18, 1969 †",30,175 mph (280 km/h),900 hPa (26.58 inHg),"Cuba, United States Gulf Coast",259,$1.42 billion,August 16,1969,175
14,Edith,"September 9, 1971",6,160 mph (260 km/h),943 hPa (27.85 inHg),"The Caribbean, Central America, Mexico, United...",37,$25.4 million,September 9,1971,160
15,Anita,"September 2, 1977",12,175 mph (280 km/h),926 hPa (27.34 inHg),Mexico,11,Extensive,September 2,1977,175
16,David,"August 30–31, 1979",42,175 mph (280 km/h),924 hPa (27.29 inHg),"The Caribbean, United States East coast","2,068",$1.54 billion,August 30,1979,175
17,Allen,"August 5–9, 1980 †",72,190 mph (305 km/h),899 hPa (26.55 inHg),"The Caribbean, Yucatán Peninsula, Mexico, Sout...",269,$1.24 billion,August 5,1980,190
18,Gilbert,"September 13–14, 1988",24,185 mph (295 km/h),888 hPa (26.22 inHg),"Jamaica, Venezuela, Central America, Hispaniol...",318,$7.1 billion,September 13,1988,185
19,Hugo,"September 15, 1989",6,160 mph (260 km/h),918 hPa (27.11 inHg),"The Caribbean, United States East Coast",107,$10 billion,September 15,1989,160
20,Andrew,"August 23–24, 1992 †",16,175 mph (280 km/h),922 hPa (27.23 inHg),"The Bahamas, Florida, United States Gulf Coast",65,$26.5 billion,August 23,1992,175
21,Mitch,"October 26–28, 1998",42,180 mph (285 km/h),905 hPa (26.72 inHg),"Central America, Yucatán Peninsula, South Florida","19,325",$6.2 billion,October 26,1998,180
22,Isabel,"September 11–14, 2003 †",42,165 mph (270 km/h),915 hPa (27.02 inHg),"Greater Antilles, Bahamas, Eastern United Stat...",51,$5.37 billion,September 11,2003,165
23,Ivan,"September 9–14, 2004 †",60,165 mph (270 km/h),910 hPa (26.87 inHg),"The Caribbean, Venezuela, United States Gulf C...",124,$23.3 billion,September 9,2004,165
24,Emily,"July 16, 2005",6,160 mph (260 km/h),929 hPa (27.43 inHg),"Windward Islands, Jamaica, Mexico, Texas",17,$1.01 billion,July 16,2005,160
25,Katrina,"August 28–29, 2005",18,175 mph (280 km/h),902 hPa (26.64 inHg),"Bahamas, United States Gulf Coast","1,836",$125 billion,August 28,2005,175
26,Rita,"September 21–22, 2005",24,180 mph (285 km/h),895 hPa (26.43 inHg),"Cuba, United States Gulf Coast",125,$12 billion,September 21,2005,180
27,Wilma,"October 19, 2005",18,185 mph (295 km/h),882 hPa (26.05 inHg),"Greater Antilles, Central America, Florida",87,$29.4 billion,October 19,2005,185
28,Dean,"August 18–21, 2007 †",24,175 mph (280 km/h),905 hPa (26.72 inHg),"The Caribbean, Central America",45,$1.76 billion,August 18,2007,175
29,Felix,"September 3–4, 2007 †",24,175 mph (280 km/h),929 hPa (27.43 inHg),"Nicaragua, Honduras",133,$720 million,September 3,2007,175
30,Matthew,"October 1, 2016",12,165 mph (270 km/h),934 hPa (27.58 inHg),"Antilles, Venezuela, ColombiaUnited States Eas...",603,$15.1 billion,October 1,2016,165
31,Irma,"September 5–9, 2017 †",72,180 mph (285 km/h),914 hPa (26.99 inHg),"Cape Verde, The Caribbean, British Virgin Isla...",138,$64.8 billion,September 5,2017,180
32,Maria,"September 18–20, 2017 †",28¼,175 mph (280 km/h),908 hPa (26.81 inHg),"Lesser Antilles, Virgin Islands, Puerto Rico, ...","3,057",$91.6 billion,September 18,2017,175
33,Michael,"October 10, 2018",½,160 mph (260 km/h),919 hPa (27.14 inHg),"Central America, United States Gulf Coast (esp...",74,$25.1 billion,October 10,2018,160
34,Dorian,"September 1–2, 2019",27,185 mph (295 km/h),910 hPa (26.87 inHg),"Barbados, Windward Islands, Leeward Islands, V...",>68,>$8.28 billion,September 1,2019,185
35,Lorenzo,"September 29, 2019",6⅚,160 mph (260 km/h),925 hPa (27.32 inHg),"Cabo Verde, Azores, Western Europe",>8,>$362 million,September 29,2019,160

In [58]:
y['windspeed'].str.extract(r'(\d{1,3})')

      0
0   165
1   160
2   160
3   175
4   160
5   160
6   185
7   160
8   160
9   175
10  175
11  160
12  160
13  175
14  160
15  175
16  175
17  190
18  185
19  160
20  175
21  180
22  165
23  165
24  160
25  175
26  180
27  185
28  175
29  175
30  165
31  180
32  175
33  160
34  185
35  160

In [11]:
y.dtypes

name         object
dates        object
duration     object
windspeed    object
pressure     object
areas        object
deaths       object
damage       object
dtype: object

In [ ]:
driver=webdriver.Firefox()
url='https://en.wikipedia.org/wiki/List_of_Category_5_Atlantic_hurricanes'
driver.get(url)
html=driver.page_source
soup=BeautifulSoup(html,'html.parser')
y=soup.find_all('table',class_='wikitable')

print(len(y))

In [ ]:
y[0].find_all('tr')[1:]

In [ ]:
name=[]
dates=[]
duration=[]
windspeed=[]
for i in y[0].find_all('tr')[1:]:
    data=i.find_all('td')
    name.append(data[0].text.strip())
    dates.append(data[1].text.strip())
    duration.append(data[2].text.strip())
    
print(duration)

In [ ]:
duration

In [ ]:
duration=[]
for i in y[2].find_all('tr')[1:]:
    data=i.find_all('td')
    duration.append(data)
    
data

In [ ]:
driver=webdriver.Firefox()
url2='https://en.wikipedia.org/wiki/List_of_sandwiches'
driver.get(url2)
html2=driver.page_source
soup2=BeautifulSoup(html2,'html.parser')
z=soup2.find_all('table',class_='wikitable')

print(len(z))

In [ ]:
name=[]
image=[]
origin=[]
description=[]
for i in z[0].find_all('tr')[1:]:
    data=i.find_all('td')
    name.append(data[0].text.strip())
    image.append(data[1].text.strip())
    origin.append(data[2].text.strip())
    description.append(data[3].text.strip())
    
description

In [ ]:
v=pd.DataFrame({'name':name,'origin':origin,'description':description,'image':image})
v

In [ ]:
import pandas as pd